.footer {
  background-color: var(--hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.footer__container {
  align-items: baseline;
  padding-top: 0;
  @media (min-width: 1200px) {
    display: flex;
  }
}

.footer__div {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  @media (max-width: 1199px) {
    margin-bottom: 60px;
    text-align: center;
  }
}
.footer__address {
  display: inline-block;

  @media (min-width: 768px) {
    margin-right: 70px;
  }

  @media (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: var(--accent-color);
  animation-duration: 3000ms;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;

  @media (min-width: 1200px) {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
    text-align: left;
  }
  @media (max-width: 1199px) {
    text-align: center;
  }
}
.footer__logo--accent {
  color: var(--background-color);
}

.adress {
  padding: 0px;
  min-width: 231px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;

  @media (max-width: 1199px) {
    text-align: center;
  }
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress__maps {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-color);
}

.adress__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contakts-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-join {
  min-width: 206px;
  @media (min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer__text {
  margin-bottom: 20px;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  @media (max-width: 1199px) {
    text-align: center;
  }
}

.footer-social {
  display: flex;
  justify-content: center;
  @media (min-width: 1200px) {
    justify-content: space-between;
  }
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--active-color);
  }
}

.sign {
  display: block;
}

.sign-form {
  @media (min-width: 1200px) {
    display: flex;
  }
}

.sub-label {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: center;

  color: rgba(255, 255, 255, 0.6);

  @media (max-width: 1199px) {
    margin-bottom: 20px;
  }
  @media (min-width: 1200px) {
    margin-right: 12px;
  }
}

.sub-label__input-footer {
  height: 50px;
  width: 100%;

  padding-left: 16px;
  color: #757575;

  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: #2196f3;
    outline: none;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
  }
  @media (min-width: 1200px) {
    width: 358px;
  }
}

.button--sign {
  // margin: 0px;
  width: 200px;
  height: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--active-color);
  color: var(--background-color);
  font-family: inherit;
  font-weight: bold;
  line-height: 1.9;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--button-color);
  }
}

.button__icon-send {
  margin-left: 10px;
}
