@media screen and(max-width: 767px) {
  .header .container {
    display: flex;
    // align-items: center;
    // position: relative;
    justify-content: space-between;
  }
}

.burger-btn,
.mobile-menu__close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.burger-icon {
  width: 40px;
  height: 40px;
}

.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
