.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 93px 15px;

  @media (min-width: 768px) {
    padding-top: 208px;
  }
}

.modal {
  position: relative;
  padding: 40px;
  overflow-y: scroll;
  margin: 0 auto;
  max-width: 450px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media (min-width: 1200px) {
    max-width: 528px;
  }
}
// top: 50%;
// left: 50%;
// transform: translate(-50%, -50%);
//   width: 528px;
//   height: 580px;
// }

.modal-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: transparent;
  cursor: pointer;

  width: 30px;
  height: 30px;
  background-color: var(--background-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--active-color);
  }
}

.contact-model {
  margin-bottom: 20px;
}
