body {
  font-family: var(--main-font);
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  background-color: var(--background-color);
  letter-spacing: 0.02em;
  margin: 0;

  // @media (max-width: 480px) {
  //   min-width: 450px;
  // }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--title-color);
}

.adress {
  font-style: normal;
}

// section {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
