:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: rgba(33, 150, 243, 1);
  --title-color: rgba(33, 33, 33, 1);
  --text-color: rgba(117, 117, 117, 1);
  --button-color: #188ce8;
  --background-color: #ffffff;
  --hero-color: #2f303a;
  --team-color: #f5f4fa;
  --footer-contakts-color: rgba(255, 255, 255, 0.6);
  --icons-main-color: #afb1b8;
  --active-color: #2196f3;

  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

  --section-pt: 60px;
  --section-pb: 60px;
}
